# NAME: iFlytek XFP301-M (T31X, JXQ03, RTL8188FTV)
# FRAG: soc-xburst1 core
BR2_INGENIC_SOC_MODEL="t31x"
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_RTL8188FU=y
# 添加 htop
# === 常用工具 ===
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_SCREEN=y
# 安装网络工具集 (包含 telnet)
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_ZIP=y
BR2_PACKAGE_UNZIP=y
BR2_PACKAGE_WGET=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_CA_CERTIFICATES=y
BR2_PACKAGE_THINGINO_SSL_MBEDTLS=y
# 安装交互式 FTP 客户端
#BR2_PACKAGE_TNFTP=y 没有这个包
# FTP/SFTP 客户端
##BR2_PACKAGE_LFTP=y
##BR2_PACKAGE_LFTP_PROTO_FTP=y
##BR2_PACKAGE_LFTP_PROTO_SFTP=y
# ZeroTier VPN
# BR2_PACKAGE_THINGINO_VPN_WIREGUARD is not set
#BR2_PACKAGE_THINGINO_VPN_ZEROTIER=y
#BR2_INSTALL_LIBSTDCPP=y
#BR2_THINGINO_LIBSTDCPP=y
## ZeroTier VPN
BR2_SENSOR_1_NAME="jxq03"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_LED_G_ACTIVE_LOW=y
BR2_THINGINO_LED_G_GPIO=16
BR2_THINGINO_LED_R_ACTIVE_LOW=y
BR2_THINGINO_LED_R_GPIO=17
BR2_THINGINO_MOTORS=y
BR2_THINGINO_RMEM_MB=48
BR2_THINGINO_SDCARD=y
FLASH_SIZE_MB=16
